body {
    font-family: Roboto;
}
/* *********************HEADER************************** */
.header-main {
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: #E7E9FC;
    background:#FFF;
}
.logo-header{
    width: 44px;
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-header span {
    width: 71px;
    color:#2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.header-nav {}

.list-nav {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;

}

.list-nav-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    list-style-type: none;
    text-decoration: none;
}
.header-menu-list{
    color:#2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}
.header-menu-list:hover{
    color: #404BBF;
}
.header-menu-list:active{
    color: #404BBF;
}
.address-header {}

.list-header-address { 
    list-style-type: none;
}
.list-address-item-a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    list-style-type: none;
    color: #434455;
    text-decoration: none;
}
.list-address-item-a:hover{
    color: #404BBF;
}
/* ********************MAIN*********************** */
/* ******************SECTIION ONE************ */

.firth-page {
    width: 1440px;
    height: 600px;
    background-color:#2E2F42;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 1.12px;
    color: #FFF;
    text-align: center;
    width: 496px;
}
.main-button {
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    cursor:pointer;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15)
}
.main-button:hover{
    background-color: #404BBF;
}
.main-button:focus{
    background-color: #404BBF;
}
.list-section-one {
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px
}

.list-section-one-item {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.title-list-section-one {
    width: 264px;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.4px;
}

.text-list-section-one {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.section-two {
    background: #F4F4FD;
    width: 1440px;
    height: 732px;
}
.title-second {
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.list-section-two {}

.item-list-second-section {
    display: inline-flex;
    padding-bottom: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08)
}

.title-list-section-two {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.4px;
}

.text-list-section-two {
    color:#434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* ************************SECTION THREE ***********************/
.section-three {
    
}
.title-section-three {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.list-section-three {
}
.information-in-list-section-three{
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;    
}
.list-item-section-three {
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border: 1px solid  #E7E9FC;
    background:  #FFF;
}
.title-list-section-three {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.4px;
}
.text-list-section-three {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* ****************FOOTER******************** */
.footer-main {
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    background: #2E2F42;
}
.logo-footer {
    width: 44px;
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-footer span {
    color: #F4F4FD;
    width: 71px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.text-footer {
    width: 264px;
    color:  #F4F4FD;
    line-height: 1.5;   
    letter-spacing: 0.32px;
}